global:
  clusterConfig:
    name: {{ .Values.clusterName }}
  sysdig:
    accessKey: {{ requiredEnv "SYSDIG_API_TOKEN" }}
agent:
  sysdig:
    settings:
      collector: ingest-{{ .Values.sysdig.url }}
      collector_port: 6443
nodeAnalyser:
  nodeAnalyser:
    apiEndpoint: {{ .Values.sysdig.url }}
    secure:
      vulnerabilityManagement:
        newEngineOnly: true
resources:
  requests:
    cpu: 600m
    memory: 512Mi
  limits:
    cpu: 600m
    memory: 512Mi
